<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://ericwhitehead.netlify.com/">Eric</a>, a student hacker at UT Austin.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'eric.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Eric Whitehead</h2>
      <br />
      <p>
        Eric Whitehead is a student web developer. He currently works at Trader Joe's Company and enjoys making connections with people every day!
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />
</div>